:root {

  /* Brand */

  --color-primary: #0C0153;
  --color-accent: #CEA558;
  --color-bg: #FDF9F3;

  --color-white: #ffffff;

  --color-text: #1E1E1E;
  --color-text-light: #666666;

  --color-border: #E6E0D7;

  /* Typography */

  --font-heading:
    "Cormorant Garamond",
    Georgia,
    serif;

  --font-body:
    Inter,
    system-ui,
    sans-serif;

  /* Layout */

  --container: 1200px;

  --section-space: 7rem;

  --radius: 6px;

  --transition: .3s ease;
}