---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="S R Group">

<section class="section">

<div class="container">

<h1>

Building Industrial Excellence Since 1997

</h1>

<p>

This is the beginning of the new S R Group website.

</p>

</div>

</section>

</BaseLayout>
